<div class="navbar navbar-inverse bg-inverse navbar-static-top">
    <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div *ngIf="orderSent" class="text-center">
                <h2>Thanks!</h2>
                <p>Thanks for placing your order.</p>
                <p>We'll ship your goods as soon as possible.</p>
                <button class="btn btn-primary" routerLink="/store">Return to Store</button>
            </div>
            <div *ngIf="!orderSent">
                <form #form='ngForm' novalidate (ngSubmit)="submitOrder(form)">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="order.name" required/>
                        <span *ngIf="submitted && name.invalid" class="text-danger">
                            Please enter your name
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" name="address" #address="ngModel" [(ngModel)]="order.address" required/>
                        <span *ngIf="submitted && address.invalid" class="text-danger">
                            Please enter your address
                        </span>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input class="form-control" name="city" #city="ngModel" [(ngModel)]="order.city" required/>
                        <span *ngIf="submitted && city.invalid" class="text-danger">
                            Please enter your city
                        </span>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input class="form-control" name="state" #state="ngModel" [(ngModel)]="order.state" required/>
                        <span *ngIf="submitted && state.invalid" class="text-danger">
                            Please enter your state
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Zip/Postal Code</label>
                        <input class="form-control" name="zip" #zip="ngModel" [(ngModel)]="order.zip" required/>
                        <span *ngIf="submitted && zip.invalid" class="text-danger">
                            Please enter your zip/postal code
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" name="country" #country="ngModel" [(ngModel)]="order.country" required/>
                        <span *ngIf="submitted && country.invalid" class="text-danger">
                            Please enter your country
                        </span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Complete Order</button>
                        <button class="btn btn-success" routerLink="/store/cart">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>