<div class="navbar navbar-inverse bg-inverse navbar-static-top" style="margin-bottom:0;">
    <a class="navbar-brand">SPORTS STORE Admin</a>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-offset-1 col-xs-10">
            <div class="bg-danger text-center" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div>
                <form #form="ngForm" (ngSubmit)="authenticate(form)" novalidate>
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" name="username" #username="ngModel" [(ngModel)]="userInfo.username" required/>
                        <span *ngIf="username.invalid" class="text-danger">
                                    Please enter your username
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="userInfo.password" required/>
                        <span *ngIf="password.invalid" class="text-danger">
                                Please enter your password
                        </span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" routerLink="/">Go Back</button>
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>