<ng-container *ngIf="showing">
        <div class="form-group bottom-margin-5">
            <label>Previous EffectiveDates</label>
            <select [(ngModel)]="selectedEffectiveDate" class="effectiveDate form-control" (change)="changeDOTALLDAYSelectedEffectiveDate()">
                <option *ngFor="let effectiveDate of effectiveDates" [ngValue]="effectiveDate">{{effectiveDate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Current EffectiveDate</label>
            <div class="form-group">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 0;">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="newEffectiveDate" ngbDatepicker #d="ngbDatepicker"
                                    required readonly/>
                                <button class="input-group-addon" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 0;">
                            <button type="button" class="btn btn-primary btn-sm pull-right btn-block" style="padding-top:7px;padding-bottom:6px;" (click)="clearMatrix()"
                                [disabled]="clearMatrixDisable()">Create Map</button>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
        <div style="overflow-x: auto;height:370px;padding:1px;">
            <table class="allDay">
                <thead>
                    <tr class="header">
                        <th class="firstCell"></th>
                        <th>3 mth</th>
                        <th>6 mth</th>
                        <th>12 mth</th>
                        <th>18 mth</th>
                        <th>24 mth</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="header">
                        <td>DOTALLDAY</td>
                        <td colspan="6">All Day</td>
                    </tr>
                    <tr class="data" *ngFor="let row of DOTALLDAYList;let i = index">
                        <ng-container *ngIf="i!=editedRowIndexDOTALLDAY">
                            <td class="month-container">{{row.MonthString}}</td>
                            <td>{{row.mth3 | number : '1.0-2'}}</td>
                            <td>{{row.mth6 | number : '1.0-2'}}</td>
                            <td>{{row.mth12| number : '1.0-2'}}</td>
                            <td>{{row.mth18| number : '1.0-2'}}</td>
                            <td>{{row.mth24| number : '1.0-2'}}</td>
                            <td class="edit-btn">
                                <button type="button" (click)="editDOTALLDAY(i)" style="border-width:0;background-color:transparent;cursor:pointer;">
                                <i class="fa fa-pencil-square-o fa-lg text-danger"></i>
                            </button>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="i==editedRowIndexDOTALLDAY">
                            <td class="month-container">{{row.MonthString}}</td>
                            <td><input type="text" [(ngModel)]="row.mth3" /></td>
                            <td><input type="text" [(ngModel)]="row.mth6" /></td>
                            <td><input type="text" [(ngModel)]="row.mth12" /></td>
                            <td><input type="text" [(ngModel)]="row.mth18" /></td>
                            <td><input type="text" [(ngModel)]="row.mth24" /></td>
                            <td class="edit-btn">
                                <button type="button" (click)="editDOTALLDAY(i)" style="border-width:0;background-color:transparent;cursor:pointer;">
                                <i class="fa fa-pencil-square-o fa-lg text-danger"></i>
                            </button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
    
            </table>
        </div>
        <button type="button" class="btn btn-dark btn-sm pull-right" style="margin-top:10px;min-width:150px;margin-left:5px;" (click)="submitDOTALLDAY()"
            [disabled]="submitDOTALLDAYDisable()">Submit</button>
        <!-- <button type="button" class="btn btn-info btn-sm pull-right" style="margin-top:10px;min-width:150px;margin-left:5px;" (click)="copyDOTALLDAY()"
            [disabled]="copyDOTALLDAYDisable()">Copy</button> -->
    
    </ng-container>